/* 
City Blog Template 
http://www.templatemo.com/preview/templatemo_309_city_blog 
*/

body {
	margin: 0px;
	padding: 0px;
	color: #aaaaaa;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #121212;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top
}

a, a:link, a:visited { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #00baf2; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 26px; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { display: block; width: 98px; height: 27px; padding: 7px 0 0 10px; color: #000; font-weight: bold; background: url(images/templatemo_button.png) no-repeat }
a.more:hover { color: #fff; text-decoration: none }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #4c4c4c; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

blockquote { font-style: italic; margin-left: 10px}
cite { font-weight: bold; color:#000 }
cite span { color: #333 }
em { color: #ca5005; font-weight: 700 }

.tmo_list { margin: 0 0 0 10px; padding: 0; list-style: none }
.tmo_list li { color:#fff; margin:0 0 10px; padding: 3px 0 3px 15px; background: transparent url(images/templatemo_list.jpg) no-repeat scroll 0 8px }
.tmo_list li a { color: #fff }
.tmo_list li a:hover { color: #fff }

#templatemo_wrapper { width: 960px; margin: 0 auto }

#templatemo_header { width: 960px; height: 100px; padding-top: 50px; text-align: center; background: url(images/templatemo_header.jpg) no-repeat top center }

#site_title a {
	display: block;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	padding: 0 0 0 0;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	text-decoration: none
}

#site_title a span {
	display: block;
	font-size: 14px;
	color: #ffc66c
}

/* menu */

#templatemo_menu {
	width: 900px;
	height: 81px;
	padding: 0 30px;
    background:	url(images/templatemo_menu.jpg) no-repeat top center
}

#templatemo_menu ul {
	height: 56px;
	margin: 0;
	padding: 25px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 56px;
	padding: 0 20px;
	margin-right: 1px;
	font-size: 14px;
	color: #b1b1b1;	
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}

#templatemo_menu ul li a span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #454545
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {

	color: #cd7e00;
	background: url(images/templatmeo_menu_hover.jpg) center bottom no-repeat
}
/* end of menu */

/* main */
#templatemo_main {
	width: 900px;
	padding: 30px;
    background:	url(images/templatmeo_main.jpg) repeat-y
}

#templatemo_content {
	float: left;
	width: 600px;
	padding: 0 50px 0 30px;
}

#templatemo_slider {
	width: 580px;
	height: 365px;
	padding: 8px;
	border: 1px solid #4c4c4c;
	margin-bottom: 40px;
}

.content_box { clear: both; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #4c4c4c }
.last_content_box { margin: 0; padding: 0; border-bottom: 0 }

.post_box {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #4c4c4c;
}

.post_box_last {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.post_box img {
	float: left;
	width: 210px
}

.post_box_right {
	float: right;
	width: 340px
}

.post_box h2 {
	margin: 0;
	padding: 0px 0 10px 0;
	line-height: 30px;
}

.post_box .post_meta {
	padding: 5px;
	margin-bottom: 20px;
	background: #131313;
}

.post_box p {
	text-align: justify;
	margin-bottom: 20px;
}

.post_box img {
	float: left;
	margin-right: 20px;
	padding: 5px; border: 1px solid #000;
	background: #221c1c;
	display: inline-block;
}

.post_box .category {
	float: left;
	width: 300px;
}

.post_box .comment {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 70px;
	height: 42px;
	text-align: center;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	background: url(images/templatemo_comment.png) no-repeat;
}

.post_box .comment a {
	color: #333;
	text-decoration: none;
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 568px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { margin-bottom: 10px; list-style:none; }
.comments li .commentbox1 { border: 1px solid #000;  background: #383838; }
.comments li .commentbox2 { border: 1px solid #383838;  background: #505050; }

.comments li .comment_box { clear: both; width:100%; padding: 15px;  }
.comment_box .gravatar { float: left; width: 50px; border: 1px solid #3c3735; margin-right: 15px; background: #3c3735; }
.comment_box .gravatar img { margin: 0; width: 50px; height: 50px; }
.comment_box .comment_text { margin: 0 0 0 65px; }

.comment_box .comment_text p { margin: 0; }
.comment_text .comment_author { font-size: 14px; color: #cd7e00; margin-bottom: 10px; }
.comment_text .date { font-size: 12px; font-weight: normal; color: #9b8e79; padding-left: 10px; }
.comment_text .time { font-size: 12px; font-weight: normal; color: #9b8e79; padding-left: 10px; }
.comment_text .reply a { display: block; clear: both; float: right; padding: 1px 10px; height: 24px; text-align: center; background: #3694ab; border: 1px solid #fff; color: #fff; } 


#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #383838;
	border: 1px solid #000;
}

#comment_form form label { color: #fff }

#comment_form textarea {
	background: #262626 none repeat fixed 0 0;
	border: 1px solid #000;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 540px;
	color: #AAAAAA;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	margin-top: 5px;
	padding: 3px 5px;
	color: #AAAAAA;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	width: 200px;
	background:#262626 none repeat fixed 0 0;
	border: 1px solid #000;
}

#comment_form .submit_btn {
	width: 90px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}

.service_box { clear: both; margin-bottom: 50px; }
.service_box img { float: left; width: 48px; height: 48px; }
.service_box .sb_right { float: right; width: 530px; }

#gallery { clear: both; }
.gallery_box { padding: 0 0 30px 0; margin: 0 0 30px 0; border-bottom: 1px dashed #433d3a; }

.gallery_box a.gallery_img { display: block; float: left; width: 240px; height: 160px; }
.gallery_box .right { float: right; width: 320px; }

.last_gallery_box { padding: 0; margin: 0; border: none; }

#contact_form {
	float: left;
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 270px;
	padding: 5px;
	background: #1b1b1b;
	color: #AAAAAA;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	border: 1px solid #000;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;
	color: #AAAAAA;
}

#contact_form form textarea {
	width: 388px;
	height: 200px;
	padding: 5px;
	background: #FFF;
	border: 1px solid #000;  
	background: #1b1b1b;
	color: #AAAAAA;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px;	
}

#contact_form form .submit_btn {
	margin-right: 100px;
	padding: 7px 14px;
	color: #AAA;
	font-weight: bold;
	background: #1B1B1B;
	border: 1px solid #000;
}

.cleaner_h10 {
    clear: both;
    height: 10px;
    width: 100%;
}

#templatemo_sidebar { 
	float: left;
	width: 180px;
	padding-left: 30px;
}

.sidebar_box {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #433d3a;
}

.recent_comment_box { padding: 0 0 15px; margin: 0 0 15px; border-bottom: 1px dashed #433d3a; }
.recent_comment_box a { color: #cd7e00; font-weight: bold; }
.last_recent_comment_box { margin: 0; padding: 0; border: none }
/* end of main */

/* footer */

#templatemo_footer_wrapper { width: 100%; background: #000000 url(images/templatemo_footer.jpg) top repeat-x }

#templatemo_footer {
		width: 900px;
		text-align: center;
		margin: 0 auto;
		padding: 40px 30px 20px;
		color: #4b4b4b;
		background: url(images/templatemo_footer_top.jpg) top center no-repeat;
}	
#templatemo_footer a { color: #71695c }

/* end of footer */